﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Enquire";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<form method="post">
    <fieldset>
        <div>
            <label for="FullName">Name</label>
            <input type="text" name="FullName" />
        </div>
        <div>
            <label for="PhoneNumber">Phone number</label>
            <input type="text" name="PhoneNumber" />
        </div>
        <div>
            <label for="Property">Property</label>
            <input type="text" name="Property" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Submit" />
        </div>
    </fieldset>
</form>