﻿@page
@model LettingWeb.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Rent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental[0].Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rental) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rent)
            </td>
            <td>
                <img src="@Url.Content(item.Photo)" height="50" width="50"</td>
            <td>
                <button><a asp-page="/Contact">Enquire</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
