﻿@page
@model LettingWeb.Pages.Rentals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rental.Street" class="control-label"></label>
                <input asp-for="Rental.Street" class="form-control" />
                <span asp-validation-for="Rental.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.City" class="control-label"></label>
                <input asp-for="Rental.City" class="form-control" />
                <span asp-validation-for="Rental.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.Rent" class="control-label"></label>
                <input asp-for="Rental.Rent" class="form-control" />
                <span asp-validation-for="Rental.Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.Photo" class="control-label"></label>
                <input asp-for="Rental.Photo" class="form-control" />
                <span asp-validation-for="Rental.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
