﻿@page
@model LettingWeb.Pages.Rentals.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rental.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental.Rent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.Rent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.Photo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rental.PropertyId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
