﻿@page
@model LettingWeb.Pages.Rentals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rental.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental.Rent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.Rent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rental.Photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rental.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rental.PropertyId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
